.guess-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.cell {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.name-cell {
  justify-content: flex-start;
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  gap: 10px;
}

.row-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.correct {
  background-color: #4caf50; /* Green */
  color: white;
}

.partial {
  background-color: #ffeb3b; /* Yellow */
  color: black;
}

.incorrect {
  background-color: #f44336; /* Red */
  color: white;
}
