.guess-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.guess-header {
  display: flex;
  gap: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.header-spacer {
    width: 100px; /* Match image width */
    flex-shrink: 0;
}

.header-data {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.header-cell {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess-rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
