.guess-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guess-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.header-cell {
  text-align: center;
}

.guess-rows {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
